@model TiklaYe_CQRS.Models.RegisterViewModel

@{
    ViewData["Title"] = "Kullanıcı Kayıt Sayfası";
    Layout = "_PageLayout";
}

<section class="account-page">
    <div class="account-container">
        <form id="registerForm" asp-action="Register" asp-controller="Account" method="post" enctype="multipart/form-data">
            <div class="account-title">Kayıt Ol</div>
            <hr />
            <div class="account-input-group">
                <input asp-for="Name" class="form-control" placeholder="Ad Soyad" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="account-input-group">
                <input asp-for="Username" class="form-control" placeholder="Kullanıcı Adı" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="account-input-group">
                <input asp-for="Email" class="form-control" placeholder="E-posta Adresi" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="account-input-group">
                <input asp-for="Mobile" class="form-control" placeholder="Telefon Numarası" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="account-input-group">
                <input asp-for="Address" class="form-control" placeholder="Adres" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="account-input-group">
                <input asp-for="PostCode" class="form-control" placeholder="Posta Kodu" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="account-input-group">
                <input asp-for="Password" class="form-control" type="password" placeholder="Şifre" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="account-input-group">
                <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Şifreyi Doğrula" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="account-checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="text-inverse">Okudum ve kabul ediyorum <a href="#">Şartlar &amp; Kullanım Koşulları.</a></span>
                </label>
            </div>
            <div class="account-checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="text-inverse"><a href="#!">Tıkla Ye</a> 'nin bana özel kampanya, tanıtım ve fırsatlarından haberdar olmak istiyorum.</span>
                </label>
            </div>
            <div>
                <button type="submit" class="account-button">Kayıt Ol</button>
            </div>
            <div class="register-login">
                <p>Zaten hesabınız var mı? <a asp-controller="Account" asp-action="Login">Giriş Yap</a></p>
            </div>
        </form>
    </div>
</section>