@model TiklaYe_CQRS.Queries.LoginQuery

@{
    ViewData["Title"] = "İşletmeci Giriş Sayfası";
    Layout = "_Pagelayout";
}

<div class="business-account-page">
    <div class="business-header">
        <div class="business-header-content">
            <div class="business-header-left">
                <a href="/Home">
                    <h2 class="business-title">TıklaYe Partner</h2>
                </a>
            </div>
            <div class="business-header-right">
                <a class="button-login" href="/Business/Register">Kayıt Ol</a>
            </div>
        </div>
    </div>
    <div class="business-main-container">
        <div class="business-container">
            <h2 class="business-title">TıklaYe Partner</h2>
            <p class="business-description">TıklaYe Partner ile işinizi dönüştürün!</p>
            <div class="business-row">
                <div class="business-col">
                    <div class="business-form-container">
                        <form asp-action="Login" asp-controller="Business" method="post">
                            <div class="business-form-group">
                                <input asp-for="Email" class="form-control" placeholder="İşletme E-postanızı Giriniz" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="business-form-group">
                                <input asp-for="Password" class="form-control" type="password" placeholder="Şifrenizi Giriniz" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <button type="submit" class="business-submit-button">Giriş Yap</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>