@{
    ViewData["Title"] = "Kayıt Tamamlandı";
    Layout = "_PageLayout";
}

<div class="success_complete">
    <div class="complete-container">
        <h2>Kayıt Başarılı!</h2>
        <p>Bilgileriniz başarıyla kaydedildi.<br /> En kısa sürede sizinle iletişime geçeceğiz.</p>
        <h3>İlginiz için teşekkürler.</h3>
        <a asp-controller="Home" asp-action="Index" class="btn btn-orientation">Anasayfa'ya Dön</a>
    </div>
</div>