@model TiklaYe.Models.Product

@{
    ViewData["Title"] = "Ürün Güncelleme";
    Layout = "_AdminLayout";
}

@section Styles {
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f7f6;
            color: #333;
        }

        .container {
            width: 80%;
            max-width: 1200px; /* Küçük ekranlarda genişliği ayarladık */
            margin: 0 auto;
        }

        .card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin-bottom: 1.5rem;
            margin-top: 50px; /* Üstten boşluk ekledik */
            background-color: #fff;
            padding: 20px;
        }

        .card-header {
            background-color: #36104b;
            color: white;
            padding: 1.5rem;
            border-bottom: 1px solid #e5e5e5;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

            .card-header h4 {
                margin: 0;
                font-size: 1.3rem;
            }

            .card-header .btn {
                padding: 10px 20px; /* Butonun kenarları ile yazı arasında boşluk */
                background-color: #550a7e;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                font-size: 1.2rem;
            }

                .card-header .btn:hover {
                    background-color: #833baa;
                }

        .card-block {
            padding: 1rem;
        }

        .form-group {
            margin-bottom: 1rem;
            font-size: 1.1rem;
        }

            .form-group label {
                font-weight: bold;
                margin-bottom: 0.5rem;
                display: block;
            }

            .form-group input.form-control {
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 5px;
                transition: border-color 0.3s ease;
                font-size: 1rem;
            }

                .form-group input.form-control:focus {
                    border-color: #80bdff;
                    outline: none;
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                }

            .form-group input[type="file"] {
                padding: 0.4rem;
            }

        .form-check {
            margin-top: 1rem;
        }

        .form-check-input {
            margin-right: 0.5rem;
            transition: border-color 0.3s ease;
            width: 1.2rem; /* Genişlik ayarı */
            height: 1.2rem; /* Yükseklik ayarı */
            padding: 0; /* İçerik ile kenarlar arası boşluk ayarı */
        }

            .form-check-input:focus {
                border-color: #80bdff;
                outline: none;
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            }

        .form-check-label {
            font-weight: normal;
            margin-left: 0.25rem;
            font-size: 1.08rem;
        }

        .btn-primary {
            background-color: #550a7e;
            color: white;
            border: none;
            transition: background-color 0.3s ease;
            padding: 8px 16px;
            cursor: pointer;
            font-size: 1.2rem;
            border-radius: 5px;
        }

            .btn-primary:hover {
                background-color: #833baa;
            }

        .mt-3 {
            margin-top: 1rem;
        }

        select.form-control {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: border-color 0.3s ease;
            font-size: 1rem;
            appearance: none; /* Varsayılan stil kaldırılır */
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #fff; /* Beyaz arka plan */
        }

            select.form-control:focus {
                border-color: #80bdff;
                outline: none;
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            }

    </style>
}

@{
    if (!ViewData.ModelState.IsValid)
    {
        foreach (var state in ViewData.ModelState)
        {
            foreach (var error in state.Value.Errors)
            {
                <div class="text-danger">@error.ErrorMessage</div>
            }
        }
    }
}


<div class="container">
    <div class="pcoded-inner-content pt-0">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Ürün Güncelleme Sayfası</h4>
                                <a class="btn btn-primary float-right" asp-action="Index">Geri</a>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label">Ürün Adı</label>
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Description" class="control-label">Ürün Açıklaması</label>
                                                <input asp-for="Description" class="form-control" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Price" class="control-label">Ürün Fiyatı</label>
                                                <input asp-for="Price" class="form-control" />
                                                <span asp-validation-for="Price" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Quantity" class="control-label">Stok</label>
                                                <input asp-for="Quantity" class="form-control" />
                                                <span asp-validation-for="Quantity" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="imageFile">Görsel</label>
                                                <input type="file" id="imageFile" name="imageFile" class="form-control" />
                                                <span asp-validation-for="imageFile" class="text-danger"></span>
                                                <img id="imagePreview" src="@Model.ImageUrl" alt="Image Preview" style="max-width: 80px; margin-top: 10px; @(string.IsNullOrEmpty(Model.ImageUrl) ? "display:none;" : "display:block;")" />
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CategoryId" class="control-label">Kategori</label>
                                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                                            </div>
                                            <div class="form-check">
                                                <input asp-for="IsActive" class="form-check-input" checked="@(Model.IsActive)" />
                                                <label asp-for="IsActive" class="form-check-label">Aktif</label>
                                            </div>
                                            <input type="hidden" asp-for="ProductId" />
                                            <button type="submit" class="btn btn-primary mt-3">Güncelle</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        document.getElementById('imageFile').addEventListener('change', function () {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('imagePreview').src = e.target.result;
                    document.getElementById('imagePreview').style.display = 'block';
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
}