@model TiklaYe_CQRS.Models.Category

@{
    ViewData["Title"] = "Kategori Güncelleme";
    Layout = "_AdminLayout";
}

<div class="app-body">
    <div class="app-container">
        <div class="main-body">
            <div class="row">
                <div class="app-card">
                    <div class="app-card-header">
                        <h2>Kategori Güncelleme Sayfası</h2>
                        <a class="app-btn-primary float-right" asp-action="Index">Geri</a>
                    </div>
                    <div class="app-card-block">
                        <div class="row">
                            <div>
                                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                                    <div class="app-form-group">
                                        <label asp-for="Name" class="control-label">Kategori Adı</label>
                                        <input asp-for="Name" class="form-control" required />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="app-form-group">
                                        <label asp-for="ImageUrlFile">Görsel</label>
                                        <input type="file" id="ImageUrlFile" name="ImageUrlFile" class="form-control" />
                                        <span asp-validation-for="ImageUrlFile" class="text-danger"></span>
                                        <img id="imagePreview" src="@Model.ImageUrl" alt="Image Preview" style="max-width: 80px; margin-top: 10px; @(string.IsNullOrEmpty(Model.ImageUrl) ? "display:none" : "display:block")" />
                                    </div>
                                    <div class="app-form-check">
                                        <input asp-for="IsActive" class="app-form-check-input" checked="@(Model.IsActive)" />
                                        <label asp-for="IsActive" class="app-form-check-label">Aktif</label>
                                    </div>
                                    <input type="hidden" asp-for="CategoryId" />
                                    <button type="submit" class="app-btn-primary">Güncelle</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        document.getElementById('ImageUrlFile').addEventListener('change', function () {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('imagePreview').src = e.target.result;
                    document.getElementById('imagePreview').style.display = 'block';
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
}