@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "_Layout";
}

@section Styles
{
    <style>
        /* company section styles */
        .company_section {
            background-image: url('/images/restaurant.jpg'); /* Arka plan fotoğrafı yolu */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 60px 0;
            text-align: center;
            position: relative;
        }

            .company_section::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                z-index: 1;
            }

        .company_header h2.contact-title,
        .to_inform h3,
        .to_inform p.company-to-inform,
        .btn-company {
            position: relative; /* İçeriğin z-index'ini artırır */
            z-index: 2; /* İçeriğin ön planda kalmasını sağlar */
        }

        .company_header h2.contact-title {
            font-size: 2.6rem;
            color: #FFD700;
            margin-bottom: 25px;
            font-weight: bold;
            text-align: center;
        }

        .company_contents {
            max-width: 1000px;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.8); /* Daha saydam beyaz arka plan */
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 30px;
            position: relative;
            z-index: 2;
        }

        .to_inform h3 {
            font-size: 1.8rem;
            color: #5b1010;
            margin-bottom: 20px;
            text-align: center;
        }

        .to_inform p.company-to-inform {
            font-size: 1.1rem;
            line-height: 1.8;
            color: #a72929;
            margin-bottom: 30px;
        }

        .btn-company-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
        }

        .btn-company {
            padding: 15px 30px;
            font-size: 1.1rem;
            color: #fff;
            background-color: #a72929;
            border: none;
            border-radius: 50px;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .btn-company:hover {
                background-color: #5b1010;
            }
    </style>
}


<!-- offer section -->
<section class="offer_section layout_padding-bottom">
    <div class="offer_container">
        <div class="container ">
            <div class="row">
                <div class="col-md-6  ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="/images/o1.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Hamburger Günleri
                            </h5>
                            <h6>
                                <span>20%</span> İndirim
                            </h6>
                            <a href="">
                                Şimdi Sipariş Ver
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="box">
                        <div class="img-box">
                            <img src="/images/o2.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Pizza Günleri
                            </h5>
                            <h6>
                                <span>15%</span> İndirim
                            </h6>
                            <a href="">
                                Şimdi Sipariş Ver
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end offer section -->
<!-- food section -->
<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Menümüz
            </h2>
        </div>

        <ul class="filters_menu">
            <li class="active" data-filter="*">Tümü</li>
            <li data-filter=".burger">Hamburger</li>
            <li data-filter=".pizza">Pizza</li>
            <li data-filter=".pasta">Makarna</li>
            <li data-filter=".fries">Kızartma</li>
        </ul>

        <div class="filters-content">
            <div class="row grid">
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/images/f1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Karışık Pizza
                                </h5>
                                <p>
                                    Çeşit çeşit malzemelerin lezzetli uyumu ile damaklarınızda unutulmaz bir tat bırakacak. <br>
                                    Karışık Pizza, farklı lezzetleri bir arada deneyimlemek isteyenler için idealdir. <br>Bol malzemesi ve doyurucu içeriği ile hem gözünüze hem de midenize hitap eder.
                                </p>
                                <div class="options">
                                    <h6>
                                        200₺
                                    </h6>
                                    <a href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/images/f2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Bol Malzemeli Burger
                                </h5>
                                <p>
                                    Lezzetin doruklarına çıkmanızı sağlayacak bol malzemeli hamburger ile doyurucu bir lezzet yolculuğuna çıkın. <br>
                                    Bol Malzemeli Hamburger, kaliteli malzemelerle hazırlanmış, doyurucu ve lezzetli bir seçenektir.
                                </p>
                                <div class="options">
                                    <h6>
                                        175₺
                                    </h6>
                                    <a href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/images/f3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Vegan Pizza
                                </h5>
                                <p>
                                    Sağlıklı ve lezzetli bir seçenek arayanlar için özel olarak hazırlanmış vegan pizza ile lezzet dolu bir deneyim yaşayın. <br>
                                    Vegan Pizza, sadece bitkisel ve doğal malzemeler kullanılarak hazırlanmış, sağlıklı ve besleyici bir seçenektir.
                                </p>
                                <div class="options">
                                    <h6>
                                        170₺
                                    </h6>
                                    <a href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/images/f4.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Sebzeli Makarna
                                </h5>
                                <p>
                                    Lezzetin doruklarına çıkmanızı sağlayacak sebzeli makarna ile doyurucu bir lezzet yolculuğuna çıkın. <br>
                                    Sebzeli Makarna, sağlıklı ve lezzetli bir seçenektir. Bu yemekte, çeşitli sebzelerle zenginleştirilmiş taze makarna kullanılmıştır.
                                </p>
                                <div class="options">
                                    <h6>
                                        150₺
                                    </h6>
                                    <a href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all fries">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/images/f5.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Patates Kızartması
                                </h5>
                                <p>
                                    İnce dilimler halinde kesilmiş taptaze patatesler, altın rengi bir kızarıklıkla sunulur. <br>
                                    Her ısırıkta çıtır çıtır dış kabuğunun ardında yumuşacık bir iç sunar. <br>En sevilen atıştırmalıklardan biri, her zaman taze ve lezzetli.
                                </p>
                                <div class="options">
                                    <h6>
                                        90₺
                                    </h6>
                                    <a href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/images/f6.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Deniz Mahsullü Pizza
                                </h5>
                                <p>
                                    İnce, gevrek hamuru ve taptaze deniz mahsulleri ile hazırlanmış deniz ürünleri sevenler için mükemmel bir seçimdir.<br>
                                    Üzerinde zengin ve lezzetli malzemeler ile dolu pizza, damak tadınıza hitap edecek şekilde özenle hazırlanmıştır.
                                </p>
                                <div class="options">
                                    <h6>
                                        250₺
                                    </h6>
                                    <a href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/images/f7.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Tavuklu Barbekü Deluxe Burger
                                </h5>
                                <p>
                                    Taptaze tavuk göğsü, yoğun barbekü sos ve çıtır kırmızı soğan halkaları ile zenginleştirilmiş, lezzet dolu bir burger deneyimi sunar. <br>
                                    Barbekü tutkunları için vazgeçilmez bir seçenek, her ısırıkta lezzet patlaması yaşatır.
                                </p>
                                <div class="options">
                                    <h6>
                                        130₺
                                    </h6>
                                    <a href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/images/f8.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Hamburger
                                </h5>
                                <p>
                                    Lezzetin doruklarına çıkmanızı sağlayarak, lezzet dolu bir burger deneyimi sunar. <br>
                                    Kaliteli malzemelerle hazırlanmış, doyurucu ve lezzetli bir seçenektir. <br>
                                    Her ısırıkta lezzet patlaması yaşatır.<br>
                                    Kesinlikle denemelisiniz!
                                </p>
                                <div class="options">
                                    <h6>
                                        100₺
                                    </h6>
                                    <a href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/images/f9.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Soslu Makarna
                                </h5>
                                <p>
                                    Hafif ve lezzetli bir sosla harmanlanan bu makarna, damaklarda iz bırakan bir lezzet sunar. <br>
                                    Her bir ısırıkta tazelik ve doygun tatlar hissedilir.<br>
                                    Kesinlikle denemelisiniz!
                                </p>
                                <div class="options">
                                    <h6>
                                        130₺
                                    </h6>
                                    <a href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                Daha Fazla Göster
            </a>
        </div>
    </div>
</section>
<!-- end food section -->
<!-- company section -->
<section class="company_section">
    <div class="container">
        <div class="company_header">
            <h2 class="contact-title">Restoran İş Ortağımız Olun!</h2>
        </div>
        <div class="company_contents">
            <form class="form-company contact_form" method="post" id="contactForm" novalidate="novalidate">
                <div class="row">
                    <div class="to_inform">
                        <h3>TıklaYe ile Satışlarınızı Zirveye Taşıyın! </h3>
                        <p class="company-to-inform">
                            <strong>Yeni müşterilere ulaşmak ve işletmenizi büyütmek hiç bu kadar kolay olmamıştı!</strong><br /><br />
                            <em>Hayal edin, sadece semtinizde değil, çevredeki tüm semtlerde de binlerce yeni müşteriye ulaşabiliyorsunuz. Üniversite kampüslerinden iş merkezlerine, plazalardan evlere kadar her yerde hizmetiniz aranan bir marka olabilirsiniz.</em><br /><br />
                            <strong>Menünüzü listeliyoruz, sipariş bilgilerini anında size ulaştırıyoruz ve işte hepsi bu kadar basit!</strong><br /><br />
                            Hedef kitleyi genişletin, binlerce potansiyel müşteriye ulaşın.<br />
                            Siparişleri hızlı ve pratik bir şekilde yönetin.<br />
                            İster kendiniz teslim edin, ister TıklaYe’nin güvenilir teslimat ağıyla müşterilerinize ulaşın.<br /><br />
                            <strong>Neden TıklaYe?</strong><br /><br />
                            <strong>Satış Artışı    ,</strong>
                            <strong>Güvenilir Ortaklık  ,</strong>
                            <strong>Marka Bilinirliği</strong><br />
                            <br />
                            <strong>Şimdi Harekete Geçin!</strong><br /><br />
                            <em>TıklaYe ailesine katılarak işletmenizi bir üst seviyeye taşıyın. Binlerce yeni müşteriye ulaşın, satışlarınızı artırın ve işletmenizin potansiyelini tam anlamıyla gerçekleştirin. Hemen şimdi başvurarak bu büyük avantajlardan faydalanmaya başlayın.</em><br /><br />
                            <strong>Bize Katılın, Başlamak İçin Neyi Bekliyorsun ?</strong>
                        </p>

                    </div>
                    <div class="btn-company-container">
                        <button class="btn-company" type="submit" asp-controller="Business" asp-action="Register">
                            Başlayalım
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- end company section -->
<!-- about section -->
<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="/images/about.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Biz Kimiz?
                        </h2>
                    </div>
                    <p>
                        Tıkla Ye, yemek tutkunu ve kaliteli yemek arayan herkes için tasarlanmış bir platformdur. <br>
                        Tutkuyla yaratılan lezzetlerin buluşma noktasıdır. <br>
                        Misyonumuz, en taze ve kaliteli malzemelerle hazırlanan yemekleri güvenilir bir şekilde sizlere ulaştırmak ve lezzet dolu anlarınıza eşlik etmektir.<br>
                        Ayrıca, yenilikçi yaklaşımlarla yemek deneyimini kolaylaştırmak ve her damak tadına hitap etmektir.<br>
                        Müşteri memnuniyetini ön planda tutarak, yemek kültürünü yeniden tanımlıyoruz.<br>
                        Yüksek standartlarda hijyen ve kalite kontrolüyle, lezzetli yemekleri doğrudan kapınıza getiriyoruz. <br>
                        Tıkla Ye olarak, lezzetli bir yolculuğa çıkmanızı sağlamak için buradayız.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->