@{
    ViewData["Title"] = "Gizlilik Politikamız";
    Layout = "_PageLayout";
}

<div class="container mt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <p>
                Tıkla Ye olarak, kullanıcılarımızın gizliliğine büyük önem veriyoruz. Bu Gizlilik Politikası, kişisel
                bilgilerinizin nasıl toplandığını, kullanıldığını ve korunduğunu açıklamaktadır.
            </p>

            <h2>Bilgi Toplama ve Kullanım</h2>
            <p>
                Kullanıcılarımızdan topladığımız bilgiler, web sitemizin işlevselliğini sağlamak, kullanıcı deneyimini
                iyileştirmek ve güvenli bir hizmet sunmak amacıyla kullanılmaktadır. Topladığımız bilgiler şunları içerebilir:
                <ul>
                    <li>Kişisel bilgiler: Ad, e-posta adresi, telefon numarası vb.</li>
                    <li>Kullanım verileri: Web sitemizi kullanım şekliniz ve tercihlerinize dair veriler.</li>
                </ul>
            </p>

            <h2>Bilgi Paylaşımı</h2>
            <p>
                Kişisel bilgilerinizi, yalnızca yasa gereği veya hizmet sağlayıcılarımızla işbirliği gerektiren durumlarda
                paylaşabiliriz. Ayrıca, güvenliğiniz için gerekli tedbirleri almakta ve bilgilerinizi üçüncü şahıslarla
                yetkisiz paylaşımı önlemekteyiz.
            </p>

            <h2>Güvenlik Önlemleri</h2>
            <p>
                Kişisel bilgilerinizin güvenliğini sağlamak için gelişmiş teknik ve organizasyonel önlemler alıyoruz.
                Veri şifreleme, güvenli veri aktarımı ve düzenli güvenlik denetimleri, bilgilerinizi korumak için kullandığımız
                yöntemlerdendir. Ancak, internet üzerinden yapılan veri iletimlerinin tamamen güvenli olduğunu garanti edemeyiz.
            </p>

            <h2>Haklarınız</h2>
            <p>
                Kişisel bilgilerinize erişim hakkınız vardır. Bilgilerinizin düzeltilmesini, güncellenmesini veya
                silinmesini talep edebilirsiniz. Bu taleplerinizi bize iletmek için lütfen bizimle iletişime geçin.
            </p>

            <h2>İletişim</h2>
            <p>
                Gizlilik politikamız hakkında herhangi bir sorunuz veya endişeniz varsa, bizimle şu yollarla iletişime
                geçebilirsiniz:
                <ul>
                    <li>E-posta: <a href="mailto:support@tiklaye.com">info@tiklaye.com</a></li>
                    <li>Adres: Tıkla Ye, Gizlilik Departmanı, X Cad. No: 7, İstanbul, Türkiye</li>
                </ul>
            </p>

            <footer class="text-center mt-4">
                <p>Tıkla Ye</p>
                <p>© 2024 Tüm Hakları Saklıdır.</p>
            </footer>
        </div>
    </div>
</div>