@model TiklaYe_CQRS.Models.UserProfileViewModel

@{
    ViewData["Title"] = "Hesabım";
    Layout = "_PageLayout";
}

<div>
    <section class="profile profile-img-bg">
        <div class="profile-card">
            <div>
                <form asp-controller="Account" asp-action="Logout" method="post" class="btn btn-secondary">
                    <button type="submit" style="background:none; border:none; color:inherit; padding:0; margin:0; cursor:pointer;">
                        <i class="material-icons" style="vertical-align: middle;">arrow_back</i>
                        <span style="vertical-align: middle;">Çıkış Yap</span>
                    </button>
                </form>
                <a asp-controller="User" asp-action="PurchaseHistory" class="btn btn-secondary">Geçmiş Siparişlerim</a>
            </div>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }
            <form id="profileForm" asp-controller="User" asp-action="UpdateUserProfile" method="post">
                <div class="profile-auth-box">
                    <div>
                        <h3 class="text-title txt-primary">Kullanıcı Bilgileri</h3>
                    </div>
                    <hr />
                    <div class="profile-form-group">
                        <label asp-for="Username">Kullanıcı Adı:</label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="profile-form-group">
                        <label asp-for="Email">E-mail:</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="profile-form-group">
                        <label asp-for="Mobile">Telefon Numarası:</label>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="profile-form-group">
                        <label asp-for="Address">Adres:</label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="profile-form-group">
                        <label asp-for="OldPassword">Eski Şifre:</label>
                        <input asp-for="OldPassword" class="form-control" type="password" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="profile-form-group">
                        <label asp-for="NewPassword">Yeni Şifre:</label>
                        <input asp-for="NewPassword" class="form-control" type="password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="profile-form-group">
                        <label asp-for="ConfirmPassword">Yeni Şifre (Tekrar):</label>
                        <input asp-for="ConfirmPassword" class="form-control" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-secondary">Güncelle</button>
                </div>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}