@{
    ViewBag.Title = "Sipariş Onayı";
    Layout = "_PageLayout";
}

<div class="success_complete">
    <div class="complete-container">
        <h2>Siparişiniz başarıyla tamamlandı!</h2>
        <p>Siparişiniz alındı, en kısa sürede adresinize teslim edilecektir.</p>
        <h3>TıklaYe'yi tercih ettiğiniz için teşekkürler.</h3>
        <a asp-controller="Home" asp-action="Index" class="btn btn-orientation">Anasayfa'ya Dön</a>
    </div>
</div>