
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

.theme-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Kayıt ol form stili */
.auth-body {
    max-width: 700px; /* Formun maksimum genişliği */
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.auth-body-login {
    width: 450px; /* Formun genişliği */
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.text-title {
    text-align: center;
}

.signup-card {
    background: #b9d3ee;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.auth-box {
    margin-top: 20px;
}

.txt-primary {
    color: #007bff;
    font-size: 28px; /* Başlık font büyüklüğü */
    margin-bottom: 25px; /* Başlık alt boşluğu */
    text-align: center; /* Başlık ortalanması */
}

.input-group {
    margin-bottom: 20px;
    margin-right: 25px;
}

    .input-group input {
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        font-size: 16px; /* Input alanı font büyüklüğü */
    }

        .input-group input:focus {
            border-color: #007bff;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

.checkbox-fade label {
    display: flex;
    align-items: center;
}

.text-inverse {
    font-size: 14px;
    color: #333;
}

/* Checkbox */
.checkbox-fade input {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    width: 100%;
    padding: 12px; /* Buton padding'i */
    font-size: 18px; /* Buton font büyüklüğü */
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Buton hover geçişi */
    margin-top: 25px;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

.text-danger {
    color: #dc3545;
    font-size: 14px; /* Hata mesajı font büyüklüğü */
    margin-top: 10px; /* Hata mesajı üst boşluğu */
}

.text-login {
    font-size: 17px;
    color: #333;
    text-align: center;
}

.common-img-bg {
    background-image: url('/images/bg-register.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
