* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%
}

body  {
    margin: 0
}

main  {
    display: block
}

button {
    background-color: transparent;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    line-height: inherit;
    color: inherit
}

button:focus  {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

ol,ul  {
    list-style: none
}

*,:after,:before  {
    box-sizing: border-box;
    border: 0 solid #d5d6d7
}

h1,h2,h3,h4,h5,h6  {
    font-size: inherit;
    font-weight: inherit
}

a  {
    color: inherit;
    text-decoration: inherit
}

.flex  {
    display: flex
}

.theme-dark .dark\:block  {
    display: block
}

.theme-dark .dark\:hidden  {
    display: none
}

.fixed  {
    position: fixed
}

.flex-wrap  {
    flex-wrap: wrap
}

.justify-end  {
    justify-content: flex-end
}

.h-screen  {
    height: 100vh
}

.z-10  {
    z-index: 10
}

.z-20  {
    z-index: 20
}

[hidden],
template  {
    display: none
}

.hidden  {
    display: none
}

.w-64  {
    width: 16rem
}

.overflow-y-auto  {
    overflow-y: auto
}

.flex-shrink-0  {
    flex-shrink: 0
}

.text-gray-500  {
    --text-opacity: 1;
    color: #707275;
    color: rgba(112, 114, 117, var(--text-opacity))
}

.ml-6  {
    margin-left: 1.5rem
}
.text-lg  {
    font-size: 1.125rem
}
.font-bold  {
    font-weight: 700
}
.text-gray-800  {
    --text-opacity: 1;
    color: #1a1c23;
    color: rgba(26, 28, 35, var(--text-opacity))
}

.mt-6  {
    margin-top: 1.5rem
}

.relative  {
    position: relative
}

.px-6  {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-3  {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.absolute  {
    position: absolute
}

.inset-0,
.inset-y-0  {
    top: 0;
    bottom: 0
}

.left-0  {
    left: 0
}

.w-1  {
    width: .25rem
}

.rounded-tr-lg  {
    border-top-right-radius: .5rem
}

.rounded-br-lg  {
    border-bottom-right-radius: .5rem
}

/* Öğenin içindeki öğelerin bir satırda hizalanmasını sağlar. */
.inline-flex  {
    display: inline-flex
}

.items-center  {
    align-items: center
}

.w-full  {
    width: 100%
}

.text-sm  {
    font-size: .875rem
}

.font-semibold  {
    font-weight: 600
}

.hover\:text-gray-800:hover  {
    --text-opacity: 1;
    color: #1a1c23;
    color: rgba(26, 28, 35, var(--text-opacity))
}

.transition-colors  {
    transition-property: background-color, border-color, color, fill, stroke
}

.duration-150  {
    transition-duration: .15s
}

.ml-4  {
    margin-left: 1rem
}

.flex-col  {
    flex-direction: column
}

.flex-1  {
    flex: 1 1 0%
}

.shadow-md  {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06)
}

.container{
    max-width: 100%
}

.items-center  {
    align-items: center
}

.justify-between  {
    justify-content: space-between
}

.h-full  {
    height: 100%
}

.px-6  {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.mx-auto  {
    margin-left: auto;
    margin-right: auto
}

.text-purple-600  {
    --text-opacity: 1;
    color: #7e3af2;
    color: rgba(126, 58, 242, var(--text-opacity))
}

.justify-center  {
    justify-content: center
}

.space-x-6>:not(template)~:not(template)  {
    --space-x-reverse: 0;
    margin-right: calc(1.5rem*var(--space-x-reverse));
    margin-left: calc(1.5rem*(1 - var(--space-x-reverse)))
}

.align-middle  {
    vertical-align: middle
}

.rounded-full  {
    border-radius: 9999px
}

.focus\:shadow-outline-purple:focus  {
    box-shadow: 0 0 0 3px rgba(202, 191, 253, .45)
}

.focus\:outline-none:focus  {
    outline: 0
}

.dropdown-menu  {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #e2e8f0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu.show  {
    display: block;
}

.p-1  {
    padding: .25rem
}

.p-2  {
    padding: .5rem
}

.p-3  {
    padding: .75rem
}

.p-4  {
    padding: 1rem
}

.p-6  {
    padding: 1.5rem
}

.py-1  {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-2  {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-4  {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.px-2  {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-3  {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-4  {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-5  {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-10  {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.mb-8  {
    margin-bottom: 2rem
}

.mt-2  {
    margin-top: .5rem
}

.space-y-2>:not(template)~:not(template)  {
    --space-y-reverse: 0;
    margin-top: calc(0.5rem*(1 - var(--space-y-reverse)));
    margin-bottom: calc(0.5rem*var(--space-y-reverse))
}

.bg-opacity-50  {
    --bg-opacity: 0.5
}

.border-transparent  {
    border-color: transparent
}

.border-white  {
    --border-opacity: 1;
    border-color: #fff;
    border-color: rgba(255, 255, 255, var(--border-opacity))
}

.border-gray-100  {
    --border-opacity: 1;
    border-color: #f4f5f7;
    border-color: rgba(244, 245, 247, var(--border-opacity))
}

.border-gray-300  {
    --border-opacity: 1;
    border-color: #d5d6d7;
    border-color: rgba(213, 214, 215, var(--border-opacity))
}

.border-red-600  {
    --border-opacity: 1;
    border-color: #e02424;
    border-color: rgba(224, 36, 36, var(--border-opacity))
}

.border-green-600  {
    --border-opacity: 1;
    border-color: #057a55;
    border-color: rgba(5, 122, 85, var(--border-opacity))
}

.border-purple-600  {
    --border-opacity: 1;
    border-color: #7e3af2;
    border-color: rgba(126, 58, 242, var(--border-opacity))
}

.border-0  {
    border-width: 0
}

.border-2  {
    border-width: 2px
}

.border  {
    border-width: 1px
}

.border-r-0  {
    border-right-width: 0
}

.border-t  {
    border-top-width: 1px
}

.border-b  {
    border-bottom-width: 1px
}

.rounded-md  {
    border-radius: .375rem
}

.font-semibold  {
    font-weight: 600
}

.duration-150  {
    transition-duration: .15s
}

.mr-2  {
    margin-right: .5rem
}

.grid  {
    display: grid
}

.my-6  {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.text-2xl  {
    font-size: 1.5rem
}

.gap-6  {
    grid-gap: 1.5rem;
    gap: 1.5rem
}

.mb-2  {
    margin-bottom: .5rem
}

.mb-8  {
    margin-bottom: 2rem
}

.rounded-lg  {
    border-radius: .5rem
}

.shadow-xs  {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05)
}

.mr-4  {
    margin-right: 1rem
}

.rounded-full  {
    border-radius: 9999px
}

.font-medium  {
    font-weight: 500
}

.font-bold  {
    font-weight: 700
}

.ml-6  {
    margin-left: 1.5rem
}

.inset-0,
.inset-y-0  {
    top: 0;
    bottom: 0
}

.flex-wrap  {
    flex-wrap: wrap
}

.align-middle  {
    vertical-align: middle
}

.focus\:shadow-outline-purple:focus  {
    box-shadow: 0 0 0 3px rgba(202, 191, 253, .45)
}

.focus\:outline-none:focus  {
    outline: 0
}

.text-left  {
    text-align: left
}

.text-center  {
    text-align: center
}

.text-white  {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity))
}

.text-black  {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity))
}

.text-gray-400  {
    --text-opacity: 1;
    color: #9e9e9e;
    color: rgba(158, 158, 158, var(--text-opacity))
}

.text-gray-600  {
    --text-opacity: 1;
    color: #4c4f52;
    color: rgba(76, 79, 82, var(--text-opacity))
}

.text-gray-700  {
    --text-opacity: 1;
    color: #24262d;
    color: rgba(36, 38, 45, var(--text-opacity))
}

.text-red-600  {
    --text-opacity: 1;
    color: #e02424;
    color: rgba(224, 36, 36, var(--text-opacity))
}

.text-red-700  {
    --text-opacity: 1;
    color: #c81e1e;
    color: rgba(200, 30, 30, var(--text-opacity))
}

.text-orange-500  {
    --text-opacity: 1;
    color: #ff5a1f;
    color: rgba(255, 90, 31, var(--text-opacity))
}

.text-orange-700  {
    --text-opacity: 1;
    color: #b43403;
    color: rgba(180, 52, 3, var(--text-opacity))
}

.text-green-500  {
    --text-opacity: 1;
    color: #0e9f6e;
    color: rgba(14, 159, 110, var(--text-opacity))
}

.text-green-600  {
    --text-opacity: 1;
    color: #057a55;
    color: rgba(5, 122, 85, var(--text-opacity))
}

.text-green-700  {
    --text-opacity: 1;
    color: #046c4e;
    color: rgba(4, 108, 78, var(--text-opacity))
}

.text-teal-500  {
    --text-opacity: 1;
    color: #0694a2;
    color: rgba(6, 148, 162, var(--text-opacity))
}

.text-blue-500  {
    --text-opacity: 1;
    color: #3f83f8;
    color: rgba(63, 131, 248, var(--text-opacity))
}

.text-purple-100  {
    --text-opacity: 1;
    color: #edebfe;
    color: rgba(237, 235, 254, var(--text-opacity))
}

.text-purple-200  {
    --text-opacity: 1;
    color: #dcd7fe;
    color: rgba(220, 215, 254, var(--text-opacity))
}

.bg-white  {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity))
}

.bg-orange-100  {
    --bg-opacity: 1;
    background-color: #feecdc;
    background-color: rgba(254, 236, 220, var(--bg-opacity))
}

.bg-green-100  {
    --bg-opacity: 1;
    background-color: #def7ec;
    background-color: rgba(222, 247, 236, var(--bg-opacity))
}

.bg-gray-50  {
    --bg-opacity: 1;
    background-color: #f9fafb;
    background-color: rgba(249, 250, 251, var(--bg-opacity))
}

.bg-purple-600  {
    --bg-opacity: 1;
    background-color: #7e3af2;
    background-color: rgba(126, 58, 242, var(--bg-opacity))
}

.bg-blue-100  {
    --bg-opacity: 1;
    background-color: #e1effe;
    background-color: rgba(225, 239, 254, var(--bg-opacity))
}

.hover\:bg-gray-100:hover  {
    --bg-opacity: 1;
    background-color: #f4f5f7;
    background-color: rgba(244, 245, 247, var(--bg-opacity))
}


@media (min-width: 768px)  {
    .md\:space-x-4>:not(template)~:not(template)  {
        --space-x-reverse: 0;
        margin-right: calc(1rem*var(--space-x-reverse));
        margin-left: calc(1rem*(1 - var(--space-x-reverse)))
    }
    .md\:block  {
        display: block
    }
    .md\:grid-cols-2  {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}
@media (min-width: 1280px)  {
    .xl\:grid-cols-4  {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }
}
@media (min-width: 640px)  {
    .container  {
        max-width: 640px
    }
}
@media (min-width: 768px)  {
    .container  {
        max-width: 768px
    }
}
@media (min-width: 1024px)  {
    .container  {
        max-width: 1024px
    }
}
@media (min-width: 1280px)  {
    .container  {
        max-width: 1280px
    }
}
@media (min-width: 1024px)  {
    .lg\:mr-32  {
        margin-right: 8rem
    }
}