@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "_Layout";
}

<!-- about section -->
<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="/images/about.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            <br>
                            Biz Kimiz?
                        </h2>
                    </div>
                    <p>
                        Tıkla Ye, yemek tutkunu ve kaliteli yemek arayan herkes için tasarlanmış bir platformdur. <br>
                        Tutkuyla yaratılan lezzetlerin buluşma noktasıdır. <br>
                        Misyonumuz, en taze ve kaliteli malzemelerle hazırlanan yemekleri güvenilir bir şekilde sizlere ulaştırmak ve lezzet dolu anlarınıza eşlik etmektir.<br>
                        Ayrıca, yenilikçi yaklaşımlarla yemek deneyimini kolaylaştırmak ve her damak tadına hitap etmektir.<br>
                        Müşteri memnuniyetini ön planda tutarak, yemek kültürünü yeniden tanımlıyoruz.<br>
                        Yüksek standartlarda hijyen ve kalite kontrolüyle, lezzetli yemekleri doğrudan kapınıza getiriyoruz. <br>
                        Tıkla Ye olarak, lezzetli bir yolculuğa çıkmanızı sağlamak için buradayız.
                    </p>
                    <a href="">
                        Daha Fazla Oku
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->