@model IEnumerable<TiklaYe_CQRS.Models.BusinessOwner>

@{
    ViewData["Title"] = "Restoranlar";
    Layout = "_PageLayout";
}

<div class="bo-body">
    <main class="h-full overflow-y-auto">
        <div class="bo-container">
            <h2 class="bo-heading">
                Tüm Restoranlar
            </h2>
            <!-- Cards -->
            <div class="bo-cards-container">
                @foreach (var businessOwner in Model)
                {
                    <!-- Card -->
                    <div class="bo-card">
                        <div class="bo-logo-container">
                            <img src="@businessOwner.LogoUrl" alt="Restaurant Logo">
                        </div>
                        <div class="bo-card-content">
                            <h3>@businessOwner.RestaurantName</h3>
                            <a asp-action="PartnerProducts" asp-route-businessOwnerId="@businessOwner.BusinessOwnerId">
                                <i class="material-icons">visibility</i> Ürünleri Göster
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </main>
</div>